.container
{ 
    border: 10px solid black;
    height: 90vh;
    display: flex;
    /* flex-direction:center;
    flex-direction:center;
    flex-direction:center;
    flex-direction:center;
    justify-content:center;
    justify-content:center;
    justify-content:center;
    justify-content:center;
    justify-content:center;
    justify-content:center; */
    flex-wrap: 100px;

.box{
    width: 200px;
    height: 150px;
    border: 2px solid black;
    border-radius: 500px;
    font-size: 8em;
    text-align: center;

}
#box1{
    background-color: lightcoral;

}
#box2{
    background-color: blueviolet;
    
}
#box3{
    background-color: aqua;
    
}
#box4{
    background-color: palevioletred;
    
}