.box{
    height: 100px;
    width: 100%;
    font-size: 9vh;
    background-color: pink;
    margin: 10px;
    border-radius: 20px;
    text-align: center;

}
.container{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows:minmax(100px,auto) 200px 100px ;
}